[user]
	email = mike@c2yz.com
	name = Michael Czyż
	signingkey = 78D4829A477DAB25
[commit]
	gpgsign = true
[push]
	default = simple
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /home/mike/.dots
[init]
	defaultBranch = main
